* {
	font-family: "JetBrains Mono", monospace;
	font-size: 13px;
	font-weight: bold;
}

window#waybar {
	background: #2b292d;
	color: #ffa07a;
}

.modules-left,
.modules-center,
.modules-right {
	margin: 0 30px;
}

#workspaces button {
	padding: 0px;
	border-radius: 0px;
	color: #727169;
}

#workspaces button.active {
	color: #ffa07a;
}