* {
	font-family: "MonaspiceNe Nerd Font", monospace;
	font-size: 15px;
	font-weight: bold;
}

window#waybar>box {
	padding: 5px;
}

window#waybar {
	/* border: 2px solid #eb6f92; */
	/* border-radius: 5px; */
	background: rgba(25, 23, 36, 1);
	/* background: rgba(0, 0, 0, 0); */
	color: #e0def4;
}

.modules-left,
.modules-center,
.modules-right {
	margin: 0 30px;
}

#workspaces button {
	padding: 0px;
	border-radius: 0px;
	color: #e0def4;
}

#workspaces button.active {
	/* color: #eb6f92; */
	color: #31748f;
}